img {
  max-width: 100%;
}

body {
  background-color: #e4e4e4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h1 {
  color: #b4302e;
  font-size: 250%;
}

.slogan {
  font-family: "Times New Roman";
  font-size: 22px;
}

.input_textarea {
  width: 99%;
  max-width: 800px;
  height: 50vh;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  border: 1px solid #b4302e;
}

button {
  background-color: #b4302e;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
}

.tbl_output {
  width: 100%;
  overflow: auto;
  table-layout: fixed;
  border-collapse: collapse;
}


th, td {
  vertical-align: top;
}

.col_input {
  width: 50%;
}

.col_articles {
  width: 20%;
}

.col_excerpt {
  width: 30%;
}

.article_box {
  padding: 5px;
  margin-bottom: 10px;
  overflow-y: auto;
  background: white;
  box-shadow: 0 0 5px 0 #333;
  cursor: pointer;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.input_plag, .wiki_plag {
  color: white;
  padding: 0px 2px;
  background-color: #b4302e;
  cursor: pointer;
}

.input_textbox, .excerpt_textbox {
  background: white;
  padding: 5px;
  box-shadow: 0 0 5px 0 black;
  max-height: 60vh;
  overflow-y: auto;
}

.articles_container{
  padding: 5px;
  max-height: 60vh;
  overflow: auto;
}

.input_container, .excerpt_container{
  padding: 5px;
}



