body {
  background-color: #e4e4e4;
}

textarea {
  width: 90%;
  height: 150px;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.input_plag, .wiki_plag{
  background-color: gold;
}

