img {
  max-width: 100%;
}

body {
  background-color: #e4e4e4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h1 {
  color: #b4302e;
  font-size: 250%;
}

.input_textarea {
  width: 99%;
  max-width: 800px;
  height: 400px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  border: 1px solid #b4302e;
}

button {
  background-color: #b4302e;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
}

.tbl_output {
  width: 100%;
  overflow: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  vertical-align: top;
  padding: 5px;
}

.input_textbox, .excerpt_textbox {
  height: 60vh;
  overflow-y: auto;
}
.article_list {
  padding-bottom: 5px;
  overflow-y: auto;
}

.input_plag, .wiki_plag {
  color: white;
  padding: 0px 2px;
  background-color: #b4302e;
  cursor: pointer;
}

.input_textbox, .excerpt_textbox {
  background: white;
  padding: 5px;
  box-shadow: 0 0 5px 0 black;
}

.article_list {
  padding: 5px;
}

.wiki_title {
  background: white;
  box-shadow: 0 0 5px 0 #333;
  padding: 5px;
  cursor: pointer;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}






