
<div class="input-container container animated" [ngClass]="myAnimationClasses">
  <div class="row">
    <div class="col-sm-0 col-md-3 col-lg-3">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h1>Eingabe</h1>
      <textarea class="input_textarea" width="100%"[(ngModel)]="inputText" placeholder="Text hier einfügen" [ngModelOptions]="{standalone: true}"></textarea><br />
      <button class="btn btn-primary" (click)="send()" >Analysieren</button>
      <input type='file' class="btn" accept=".txt" multiple (change)='openFile($event)'>
    </div>
  </div>
</div>
