<div class="animated bounceInLeft">

  <h1>Ergebnis</h1>
  <div class="tbl_div">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        Eingabetext&nbsp;<span class="info">i<span class="tooltiptext">Eingabetext mit rot markierten Plagiatsstellen</span></span><br>
        <div class="input_textbox" [innerHTML]="tagged_input_text | safeHtml"></div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        Artikel&nbsp;<span class="info">i<span class="tooltiptext">Artikel, aus denen die ausgewählte Plagiatsstelle stammen könnte</span></span>
        <div class="alert alert-dismissible alert-info article_box" style="text-align: center;" *ngFor="let plag of articleListOfSelectedPlag; let i=index" id="{{i}}">
          {{plag.title}}
        </div>
        <div class="hint" *ngIf="!articleListOfSelectedPlag">
          <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Bitte eine markierte Plagiatsstelle anklicken.
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        Wikipedia-Ausschnitt&nbsp;<span class="info">i<span class="tooltiptext">Ausschnitt des gewählten Artikels. Markierte Stelle anklicken, um Wikipedia-Artikel zu öffnen</span></span>
        <div *ngIf="textOfSelectedArticle" class="alert alert-dismissible alert-info excerpt_textbox" [innerHTML]="textOfSelectedArticle"></div>
        <div class="hint" *ngIf="!textOfSelectedArticle && articleListOfSelectedPlag">
          <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Bitte einen Artikel anklicken.
          </div>
        </div>
      </div>

    </div>
  <button class="btn btn-primary" (click)="newInput()">Neuer Text</button>

</div>
