<h1>Ergebnis</h1>
<div class="tbl_div">
  <table class="tbl_output">
    <tr>
      <th class="col_input">Eingabetext&nbsp;<span class="info">i<span class="tooltiptext">Eingabetext mit rot markierten Plagiatsstellen</span></span></th>
      <th class="col_articles">Artikel&nbsp;<span class="info">i<span class="tooltiptext">Artikel, aus denen die ausgewählte Plagiatsstelle stammen könnte</span></span></th>
      <th class="col_excerpt">Wikipedia-Ausschnitt&nbsp;<span class="info">i<span class="tooltiptext">Ausschnitt des gewählten Artikels. Markierte Stelle anklicken, um Wikipedia-Artikel zu öffnen</span></span></th>
    </tr>
    <tr>
      <td>
        <div class="input_container">
          <div class="input_textbox" [innerHTML]="tagged_input_text | safeHtml"></div>
        </div>
      </td>
      <td>
        <div class="articles_container">
          <div class="article_box" style="text-align: center;" *ngFor="let plag of articleListOfSelectedPlag; let i=index" id="{{i}}">
              {{plag.title}}
          </div>
          <div class="hint" *ngIf="!articleListOfSelectedPlag">
            Bitte eine markierte Plagiatsstelle anklicken.
          </div>
        </div>
      </td>
      <td>
        <div class="excerpt_container">
          <div *ngIf="textOfSelectedArticle" class="excerpt_textbox" [innerHTML]="textOfSelectedArticle"></div>
          <div class="hint" *ngIf="!textOfSelectedArticle && articleListOfSelectedPlag">
            Bitte einen Artikel anklicken.
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<button (click)="newInput()">Neuer Text</button>

