<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" (click)="toggleComponent('input')" href="#"><img class="headerImg" src="./res/img/new_logo_without_text.png"/><br><span class="slogan">Die freie Plagiatssuche</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="toggleComponent('input')" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="toggleComponent('about')">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="main-content">
  <input-comp *ngIf="showInput" (sendEventEmitter)="toggleComponent('output')"></input-comp>
  <output-comp *ngIf="showOutput" (newInputEventEmitter)="toggleComponent('input')"></output-comp>
  <about *ngIf="showAbout"></about>
</div>

