<div class="body input-container container animated" [ngClass]="myAnimationClasses">
  <div class="row">
    <div class="textbox col-sm-12 col-md-9 col-lg-9">
      <div class="textbox_h1_div">
        <h1 class="textbox_h1">Eingabe</h1>
      </div>

      <textarea class="textbox_textarea" width="100%" [(ngModel)]="inputText" placeholder="Text hier einfügen"
                [ngModelOptions]="{standalone: true}" [ngClass]="textarea">

      </textarea>
      <div class="animated textboxViewHistory" (click)="toggleHistory()" [ngClass]="viewHistory">
        View history
        <div [ngClass]="historyHidden">
          <h1>Letzte Anfragen</h1>
          <button class="btn btn-secondary" (click)="deleteLocalStorage()">Alle löschen</button>
          <hr>
          <div *ngFor="let storedPlag of storedRequests; let i=index" id="{{i}}">
            <div [innerHTML]="storedPlag.name | slice:0:200"></div>
            <div [innerHTML]="storedPlag.tagged_input_text | slice:0:200 | safeHtml "
                 (click)="loadStoredPlagDataWithId(i)"></div>
            ...
            <hr>
          </div>
        </div>
      </div>
      <div class="textbox_footer_container">
        <div class="wordcount_div">
          <img class="textbox_footer_image" src="../../assets/wordcount.svg">  324 Wörter<!--<span *ngIf="loading">Laden ...</span>-->
        </div>
        <div class="historytag history_div">
          <img class="textbox_footer_image" src="../../assets/label.svg"> <input class="form-control label_input" placeholder="deine Bezeichnung" [(ngModel)]="plagName"><br>

        </div>
      </div>
      <div class="button_container">
        <button id="analyseButton" class="button button-primary" (click)="send()" *ngIf="!loading">Analysieren</button>
      </div>

    </div>

    <!--<div class="col-sm-0 col-md-3 col-lg-3 scrollview" *ngIf="storedRequests != null && storedRequests.length > 0">
      <h1>Letzte Anfragen</h1>
      <button class="btn btn-secondary" (click)="deleteLocalStorage()">Alle löschen</button>
      <hr>
      <div *ngFor="let storedPlag of storedRequests; let i=index" id="{{i}}">
        <div [innerHTML]="storedPlag.name | slice:0:200"></div>
        <div [innerHTML]="storedPlag.tagged_input_text | slice:0:200 | safeHtml "
             (click)="loadStoredPlagDataWithId(i)"></div>
        ...
        <hr>
      </div>
    </div>-->
  </div>

</div>
