<nav class="header">
  <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
  <img src="../../assets/fb4-ai.svg" class="header-mouse-img">
  <div class="header-text-wrapper">
    <div class="header-text">
      <div class="wiki-header-text">WIKI</div>
      <div class="plag-header-text">Plag</div>
    </div>
    <div class="header-subtitle">
      <div class="header-subtitle-1">
        EIN UNIVERSTITÄTS
      </div>
      <div class="header-subtitle-2">
        PROJEKT
      </div>
    </div>
  </div>
  <img src="../../assets/s17-htw-berlin-logo-neg-sw-rgb.svg" class="header-htw-img">
</nav>
