<div class="animated bounceInLeft">
  <h1 class="output_header">Ergebnis</h1>
  <div class="tbl_div">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        Eingabetext&nbsp;<span class="info">i<span
        class="tooltiptext">Eingabetext mit rot markierten Plagiatsstellen</span></span><br>
        <div class="input_textbox" [innerHTML]="tagged_input_text | safeHtml" *ngIf="!shortened_text"></div>
        <div id="splitted-text" class="output_shortened_text" *ngIf="shortened_text">
          <br>
          <div *ngFor="let plag of textPieces; let i=index" id="{{i}}">
            <div [ngSwitch]="plag.active">
              <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1">
                  <button class="btn-secondary btn" *ngIf="plag.type === 'text' && plag.active"
                          (click)="changeViewState(i)"><i class="fas fa-caret-down"></i></button>
                  <button class="btn-secondary btn" *ngIf="plag.type === 'text' && !plag.active"
                          (click)="changeViewState(i)"><i class="fas fa-caret-right"></i></button>
                </div>
                <div class="col-sm-11 col-md-11 col-lg-11">
                  <div [innerHTML]="plag.text | safeHtml" *ngIf="plag.active"></div>
                  <div class="badge badge-info pointer-cursor" *ngIf="plag.type === 'text' && !plag.active" (click)="changeViewState(i)"> ... </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        Artikel&nbsp;<span class="info">i<span class="tooltiptext">Artikel, aus denen die ausgewählte Plagiatsstelle stammen könnte</span></span>
        <div class="alert alert-dismissible alert-info article_box" style="text-align: center;"
             *ngFor="let plag of articleListOfSelectedPlag; let i=index" id="{{i}}">
          {{plag.title}}
        </div>
        <div class="hint" *ngIf="!articleListOfSelectedPlag">
          <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Bitte eine markierte Plagiatsstelle anklicken.
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3">
        Wikipedia-Ausschnitt&nbsp;<span class="info">i<span class="tooltiptext">Ausschnitt des gewählten Artikels. Markierte Stelle anklicken, um Wikipedia-Artikel zu öffnen</span></span>
        <div *ngIf="textOfSelectedArticle" class="alert alert-dismissible alert-info excerpt_textbox"
             [innerHTML]="textOfSelectedArticle"></div>
        <div class="hint" *ngIf="!textOfSelectedArticle && articleListOfSelectedPlag">
          <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Bitte einen Artikel anklicken.
          </div>
        </div>


      </div>

    </div>
    <div class="icons_output">
      <!-- <button id="btn_new" class="btn btn-primary" (click)="newInput()">Neuer Text</button>-->
      <div id="new_div" class="icon_div"> <input class="icon" type="image" src="/assets/Icons/document.png" id="btn_delete"  (click)="newInput()"><p>Neue Eingabe</p> </div>
      <!-- <button id="btn_pdf" class="btn btn-info" (click)="pdfExport()">PDF generieren</button>-->

      <div id="pdf_div" class="icon_div">  <input class="icon" type="image" src="/assets/Icons/pdf.png" id="btn_pdf"  (click)="pdfExport()"><p>PDF generieren</p> </div>

    </div>

  </div>
</div>
