img {
  max-width: 100%;
}

body {
  background-color: #e4e4e4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h1 {
  color: #b4302e;
  font-size: 250%;
}

.slogan {
  font-size: 22px;
}

.input_textarea {
  width: 99%;
  max-width: 800px;
  height: 50vh;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  border: 1px solid #b4302e;
}

.pointer-cursor{
  cursor: pointer;
}

.param1 {
  position: fixed;
  bottom: 75%;
  right: 20%;
  width: 100px;
  height: 20px;
  border: 3px solid #73AD21;
}

.param2 {
  position: fixed;
  bottom: 60%;
  right: 20%;
  width: 100px;
  height: 20px;
  border: 3px solid #73AD21;
}

.param3 {
  position: fixed;
  bottom: 45%;
  right: 20%;
  width: 100px;
  height: 20px;
  border: 3px solid #73AD21;
}

.param4 {
  position: fixed;
  bottom: 30%;
  right: 20%;
  width: 100px;
  height: 20px;
  border: 3px solid #73AD21;
}

.param5 {
  position: fixed;
  bottom: 15%;
  right: 20%;
  width: 100px;
  height: 20px;
  border: 3px solid #73AD21;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.tbl_output {
  width: 100%;
  overflow: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  vertical-align: top;
}

th {
  font-size: 15px;
}

.info {
  position: relative;
  padding: 2px;
  background: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid grey;
  color: black;
  display: inline-block;
  font-weight: bold;
  line-height: 0.7em;
  text-align: center;
  vertical-align: middle;
  width: 0.7em;
}

.info .tooltiptext {
  position: absolute;
  visibility: hidden;
  width: 150px;
  bottom: 120%;
  left: -70px;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.info {
  cursor: pointer;
}

/* Show the tooltip text when you mouse over the tooltip container */
.info:hover .tooltiptext {
  visibility: visible;
}

.col_input {
  width: 50%;
}

.col_articles {
  width: 20%;
}

.col_excerpt {
  width: 30%;
}

.articles_container {
  padding: 5px;
  max-height: calc(60vh + 5px);
  overflow: auto;
}

.article_box {
  cursor: pointer;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.input_plag, .wiki_plag {
  color: white;
  padding: 0px 2px;
  background-color: #b4302e;
  cursor: pointer;
}

.input_textbox, .excerpt_textbox {
  background: white;
  padding: 5px;
  box-shadow: 0 0 5px 0 black;
  max-height: 60vh;
  overflow-y: auto;
}

.output_shortened_text {
  max-height: 55vh;
  overflow-y: auto;
}

.input_container, .excerpt_container {
  padding: 5px;
}

.hint {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.headerImg {
  height: 50%;
  width: 80%;
}

.main-content {
  padding-left: 2%;
  padding-right: 2%;
}

.loading-screen {
  background: #E95420;
  min-height: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.loading-bar-wrapper {
  left: 50%;
  transform: translateX(-50%);
  vertical-align: middle;
  min-height: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 43%;
  margin-left: 33%;
}

@keyframes move {
  0% {
    width: 30%;
  }
  50% {
    width: 15%;
  }
  100% {
    width: 30%;
  }
}

.loading-bar1 {
  animation: move 5s infinite ease-in-out;
  width: 30%;
  height: 3%;
  border-radius: 25px;
  background: gray;
  display: block;
}

.loading-bar2 {
  margin-left: 5%;
  width: 20%;
  height: 3%;
  border-radius: 25px;
  background: gray;
}

.loading-bar3 {
  animation: move 5s infinite ease-in-out;
  width: 30%;
  height: 3%;
  border-radius: 25px;
  background: gray;
}

.loading-text {
  width: 30%;
  text-align: center;
}
