body{
  background: #EBEBEB;
  margin: 0;
}

@import 'header';
@import 'global';
@import 'output';
@import 'input';

.textbox_h1_div {
  /*height: 7%;*/
  border-radius: 10px 10px 0 0;
  background-color: rgba(9, 9, 9, 0.73);

}

.textbox_h1 {
  width: 100%;
  display: inline-block;
  line-height:normal;
  height: 100%;
  color: #ffffff;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: baseline;
}
