body{
  background: #EBEBEB;
  margin: 0;
}

.header{
  /* Style for "Mask" */
  width: 100%;
  height: 23vh;
  background-image: linear-gradient(104deg, #91e203 0%, #83ca04 58%, #76b900 100%);
  position: relative;
}

a:hover, a:visited, a:link, a:active .nav-index-link{
  text-decoration: none;
}



@media only screen and (min-width: 920px) {
  .header-mouse-img{
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 16%;
  }



  .header-htw-img{
    position: absolute;
    width: 8vw;
    right: 2vw;
    bottom: 2vw;
  }

  .nav-index-link{
    width: 25vw;
  }

  .header-text{
    font-size: 4vw;
  }

  .header-subtitle{
    font-size: 1.8vw;
  }

}

@media only screen and (max-width: 919px) {
  .header-mouse-img{
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 35%;
  }

  .header-htw-img{
    position: absolute;
    width: 12vw;
    right: 2vw;
    bottom: 2vw;
  }

  .nav-index-link{
    width: 40vw;
  }

  .header-text{
    font-size: 8vw;
  }

  .header-subtitle{
    font-size: 3vw;
  }
}

.nav-index-link{
  position: absolute;
  z-index: 99;
  text-align: center;
  bottom: 10%;

}

.header-text{
  /* Style for "WIKIPlag" */
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: inline;
}

.wiki-header-text{
  /* Text style for "WIKI" */
  font-family: "Avenir Next";
  font-weight: 700;
  display: inline-block;
}

.plag-header-text{
  /* Text style for "Plag" */
  font-family: "Avenir Next Medium";
  font-weight: 500;
  display: inline-block;
}

.header-subtitle{
  /* Style for "EIN UNIVER" */
  color: #ffffff;
  font-family: "Avenir Next Medium";
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
}




.textbox {
  padding: 0;
  margin-top: -10%;
  width: 37%;
  height: 671px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
}

.textbox_h1_div {
  height: 7%;
  border-radius: 10px 10px 0 0;
  background-color: rgba(9, 9, 9, 0.73);

}

.textbox_h1 {
  width: 100%;
  display: inline-block;
  line-height:normal;
  height: 100%;
  color: #ffffff;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: baseline;
}


.textbox_textarea {
  width: 100%;
  height: 80%;
  color: #000000;
  font-family: "Avenir Next - Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.displayNone{
  display: none;
  height: 0;
}

.textboxViewHistory{
  width: 100%;
  height: 4%;
  text-align: center;
  background-color: rgba(216, 216, 216, 0.51);
}

.viewHistoryExpanded{
  height: 84%;
}

.textbox_footer {
  /* Style for "Rectangle" */
  width: 100%;
  height: 9%;
  border-radius: 0 0 10px 10px;
  background-color: rgba(216, 216, 216, 0.51);
}

.wordcount_div {
  width: 35%;
}

.history_div {
  width: 65%;
  border-left: 1px solid rgba(151, 151, 151, 0.19);
}
